<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<add connectionString="server=LAPTOP-EH5M0PR6\\SQLEXPRESS;Initial Catalog=Ado;Integrated Security=true"
			 name="con"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>